---
import { SITE } from "../data/site";
import ScrambleIn from "./ui/ScrambleIn";
import ScrambleText from "./ui/ScrambleText";
---

<header
  class="flex flex-col lg:flex-row items-start justify-between mx-auto h-full lg:h-auto w-full max-w-360 px-6 lg:px-8 py-4 bg-blue text-white text-base/7 lg:text-sm selection:bg-white selection:text-blue"
>
  <div class="flex flex-col lg:flex-row items-start gap-8">
    <a
      href="#"
      class="inline-flex flex-col gap-0.5 px-0.5 hover:bg-white hover:text-blue"
    >
      <h1 class="contents">
        <ScrambleText client:visible text="Erick Gustavo" />
        <ScrambleText client:visible text="Web Developer" />
      </h1>
    </a>

    <nav aria-label="Main navigation" class="inline-flex flex-col gap-0.5">
      <a href="#experiences" class="px-0.5 hover:bg-white hover:text-blue">
        <ScrambleText client:visible text="Experiences" />
      </a>
      <a href="#projects" class="px-0.5 hover:bg-white hover:text-blue">
        <ScrambleText client:visible text="Projects" />
      </a>
      <a aria-disabled="true">
        <ScrambleIn
          client:visible
          text="Writing"
          className="cursor-not-allowed hover:line-through px-0.5"
        />
      </a>
    </nav>

    <a
      class="lg:hidden uppercase cursor-pointer px-0.5 hover:bg-white hover:text-blue"
      href={`mailto:${SITE.email}`}
    >
      <ScrambleIn client:visible text="[email]" />
    </a>
    <button
      type="button"
      aria-label="Copy email address to clipboard"
      class="hidden lg:inline cursor-pointer text-start uppercase after:block after:h-0 after:overflow-hidden after:invisible after:pointer-events-none after:content-[attr(data-copied-label)] hover:bg-white hover:text-blue"
      data-email={SITE.email}
      data-default-label="[email]"
      data-copied-label="[copied]"
    >
      <ScrambleIn client:visible text="[email]" />
    </button>
  </div>

  <p class="w-full max-w-93 text-wrap! lg:leading-normal">
    <ScrambleIn client:visible scrambleSpeed={25} text={SITE.description} />
  </p>

  <div
    class="flex flex-col-reverse lg:flex-col gap-0.5 ml-auto lg:ml-0 lg:w-full lg:max-w-27.5 text-end"
  >
    <span data-local-time>--:--:-- BRT</span>
    <a
      href={SITE.socials.linkedin}
      target="_blank"
      rel="noopener noreferrer"
      class="py-px px-0.5 uppercase hover:bg-white hover:text-blue"
    >
      <ScrambleText client:visible text="LinkedIn [↗]" />
    </a>
    <a
      href={SITE.socials.github}
      target="_blank"
      rel="noopener noreferrer"
      class="py-px px-0.5 uppercase hover:bg-white hover:text-blue"
    >
      <ScrambleText client:visible text="Github [↗]" />
    </a>
  </div>
</header>

<script>
  import "../scripts/email-copy";
  import "../scripts/clock";
</script>
